@font-face {
  font-family: 'Star3000';
  src: local('Star3000'), url(./fonts/Star3000.ttf) format('truetype');
}

@font-face {
  font-family: 'Star3000Extended';
  src: local('Star3000Extended'), url(./fonts/Star3000Extended.ttf) format('truetype');
}

@font-face {
  font-family: 'Star3000Heavy';
  src: local('Star3000Heavy'), url(./fonts/Star3000Heavy.ttf) format('truetype');
}

#root {
  height: 100%;
  min-width: 1000px;
}

body {
  color: white;
  text-shadow: 2px 0 0 black;
  height: 100vh;
  margin: 0;
  font-family: 'Star3000', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Star3000', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 5px, 2px 100%;
  pointer-events: none;
  min-width: 1000px;
  z-index: 999;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.2);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  z-index: 999;
}