.extended-forecast {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.extended-forecast .main-content{
  background-image: linear-gradient(to bottom, blue, orange 60%);
  border-bottom: 2px solid black;
  flex: 4;
}

.extended-forecast .footer{
  background-color: #213076;
  border-top: 4px solid white;
  font-size: 4rem;
  flex: 1;
  padding: 0 20px;
}