.extended-forecast {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.extended-forecast .main-content{
  background-image: linear-gradient(to bottom, #11024a 20%, #340c3e 25%, #a74508 80%);
  border-bottom: 2px solid black;
  flex: 5;
  display: flex;
  flex-direction: column;
}

.extended-forecast .header-section {
  display: flex;
  justify-content: center;
  align-items: flex-end ;
}

.extended-forecast .footer{
  background-color: #213076;
  border-top: 4px solid white;
  font-size: 4rem;
  flex: 1;
  padding: 0 100px;
}

.panel-section {
  flex: 4;
  display: flex;
  justify-content: center;
  margin: 0 20px 20px 20px;
}

.header-section {
  flex: 1;
  display: flex;
}

.header-spacer {
  flex: 1;
  height: 0px;
}