.extended-forecast {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.extended-forecast .main-content{
  background-image: linear-gradient(to bottom, #11024a 20%, #340c3e 25%, #a74508 80%);
  border-bottom: 2px solid black;
  flex: 5;
  display: flex;
  flex-direction: column;
}

.extended-forecast .header-section {
  display: flex;
  justify-content: center;
  align-items: flex-end ;
}

.extended-forecast .footer{
  background-color: #213076;
  border-top: 4px solid white;
  font-size: 3rem;
  flex: 1;
  display: flex;
  align-items: center;
}

.extended-forecast .footer-spacer{
  flex: 1;
}

.extended-forecast .footer-value{
  flex: 5;
  font-size: 2rem;
}

.extended-forecast .panel-section {
  flex: 4;
  display: flex;
  justify-content: center;
  margin: 0 20px 20px 20px;
}

.extended-forecast .header-section {
  flex: 1;
  display: flex;
}

.extended-forecast .header-spacer {
  flex: 1;
  height: 0px;
}

@media(max-width: 1000px) and (min-width: 590px) {
  .extended-forecast {
    zoom: 0.75;
  }

  .extended-forecast .header-section {
    margin: 0 20px;
  }

  .extended-forecast .header-spacer {
   display: none;
  }
}

@media(max-width: 590px) {
  .extended-forecast .main-content {
    flex: 8;
  }

  .extended-forecast .header-section {
    flex: 1;
    margin: 0 20px;
  }

  .extended-forecast .panel-section {
    flex-direction: column;
    justify-content: space-evenly;
    flex: 8;
  }

  .extended-forecast .footer {
    flex: 1;
  }

  .extended-forecast .header-spacer {
    display: none;
  }

  .footer-value {
    font-size: 2rem;
  }
}