.extended-forecast-header {
  display: flex;
  width: 100%;
  font-size: 1.8rem;
  flex: 5;
}

.extended-forecast-header-primary-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  flex: 1;
}
.location-text {
  display: flex;
}

.extended-forecast-title-text {
  display: flex;
  color: yellow;
}

.extended-forecast-header-secondary-text {
  font-family: 'Star3000Extended';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.time-text {
  margin-right: 25px;
  text-align: end;
}

.date-text {
  margin-right: 25px;
  text-align: end;
}

@media(max-width: 590px) {
  .extended-forecast-header {
    margin-top: 20px;
  }

  .extended-forecast-header-primary-text {
    font-size: 1rem;
    margin: 0;
  }

  .extended-forecast-header-secondary-text {
    font-size: 0.75rem;
    margin: 0 10px;
  }

  .time-text {
    margin-right: 0;
  }
  
  .date-text {
    margin-right: 0;
  }
}